<div class="container">
	
    <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1><br>
    <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->

    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
    
    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>
    
    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>
    
  </div>
  
  <div class="top">
      <h2 id="heroQuote">...let's make something amazing together.</h2>
      <div class="triangle"></div>
  </div>
  <div class="bottom"></div>
   
  </div>
