
<header>
  <nav>
      <div class="wrapper">
          <a class="logo" href="/"><img id="logo" src="{{site.baseurl}}/assets/img/logo.svg" alt="gem logo"></a>
          <div id = "title">{{ page.title | default: site.title | default: site.github.repository_name }}</div>
            <ul class="navMenu">
              <div class ="close"><a href="#" id="menu-icon"><img id="menu-icon" src="{{site.baseurl}}/assets/img/close.svg" alt="mobile menu"></a></div>
              <li>

                  {% for item in site.data.navigation %}
                      <a href="{{ item.link }}" {% if item.link == page.url %}class="active"{% endif %}>
                        {{ item.name }}
                      </a>
                  {% endfor %}

              </li>
            </ul>
          <div class="menu" id="menu"> 
            <a href="#" id="menu-icon"><img id="menu-icon" src="{{site.baseurl}}/assets/img/menu.svg" alt="mobile menu"></a>
          </div>
      </div>
  </nav>
</header>